<form action='/add-entry' method='post'
  <div id="title">
    <label for="title">Title</label>
    <input type="text" name="title">
  </div>
  <div id="content">
    <label for="content">Today's entry</label>
    <input type="text" name="content">
  </div>
  <div id="post">
    <input type="submit" value="Post" />
</form>
